{% extends "base.html" %}

{% block title %} Notes App {% endblock %}

{% block content %}
    <h2 align="center">Add Notes</h2>

    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
            <li class="list-group-item">
                {{ note.data }}
                <button type="button" class="close" onclick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}        
    </ul>

    <form method='POST'>
        <textarea name="note" id="note" class="form-control" placeholder="Type note here..."></textarea>
        <br>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
{% endblock %}