{% extends "base.html" %}

{% block title %} Sign Up - Notes App {% endblock %}

{% block content %}
    <form method="POST">
        <h2 align="center">Sign Up</h2>
        
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
        </div>
        
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
        </div>
        
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number">
        </div>

        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
        </div>

        <div class="form-group">
            <label for="password2">Confirm password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
        </div>
    <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}